.custom-card-img-top {
  width: 100%;
  height: 18.75rem;
  object-fit: contain;
  background-color: #f9ab00;
}

.custom-card-title {
  text-align: start;
  font-size: 30px;
}

.custom-card-padding {
  padding: 30px;
}

.custom-btn {
  color: white;
}
